
 <div *ngIf="toBeDisplay" >
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Message Component</h3>
      </div>
      <div class="panel-body">
        <p>Congratulation, Button clicked {{messageCount}} times. You are eligible for {{buttonName}} button.</p>
       <!-- <p *ngIf="messageCount==5">Congratulation, Button clicked {{messageCount}} times. You are eligible for silver button.</p>
       <p *ngIf="messageCount==10">Congratulation, Button clicked {{messageCount}} times. You are eligible for Golden button.</p>
       <p *ngIf="messageCount==15">Congratulation, Button clicked {{messageCount}} times. You are eligible for Platinum button.</p> -->
      </div>
    </div>
  </div>
  
