
  <div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Cockpit Component</h3>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-xs-8">
              <p>Add new Servers or Bluprints</p>
              <label for="name">Name</label>
              <input type="text" class="form-control" #nameInput >
        
              <label for="content">Content</label>
              <input type="text" class="form-control"  #contentInput>
              <br>
        
              <button class="btn btn-primary" (click)="onAddServer(nameInput.value, contentInput.value)">Add Server</button>
              <button class="btn btn-primary" (click)="onAddBlueprint(nameInput.value, contentInput.value)">Add Server Blueprint</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  
