<div class="container">
  <div class="input-group">
    <input type="text" class="form-group" placeholder="Name" [(ngModel)]="name">
  </div>

  <div class="input-group">
    <input type="number" class="form-group" placeholder="Age" [(ngModel)]="age">
  </div>

  <div class="input-group">
    <input type="text" class="form-group" placeholder="Nationality" [(ngModel)]="citizen">
  </div>

  <button class="btn btn-primary" style="margin:5px;"
  (click) = "addPerson()"
  >Add Person</button>
</div>

<div *ngFor="let item of people">
  <app-person [name]="item.name"
  [age]="item.age"
  [nationality]="item.nationality"></app-person>
</div>

