<div class="container">
    <div>
        <h3 class="mb-3-text-center">Employees Details</h3>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees">
                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.email}}</td>
                        <td>{{emp.salary}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/emp-edit/{{emp.id}}">Edit</button> &nbsp;&nbsp;
                            <button class="btn btn-danger" (click)="deleteEmp(emp.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="btn btn-primary" routerLink="/emp-create">Add Employee</div>
</div>