

 <div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Server Blueprint Component</h3>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                 <div class="panel-heading">Sample Name</div>
                 <div class="panel-body">
                   <p>
                      <!-- <strong
                      [ngStyle]="{'color': element.type === 'server'?'red':'blue'}">{{element.name}}</strong> -->
                      <strong>Sample Desc</strong>    
                   </p>
                 </div>
              </div>
            </div>
         </div>
      </div>
    </div>
  </div>
  
  