
  <div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Cockpit Component</h3>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-xs-8">
              <p>Add new Servers or Bluprints</p>
              <label for="name">Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" >
        
              <label for="content">Content</label>
              <input type="text" class="form-control"  [(ngModel)]="desc">
              <br>
        
              <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
              <button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  
